@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size: 16px;
  /* COLORS */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  /* GRADIENTS */
  --gradient-white: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
  --gradient-red: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
  /* OTHERS */
  --input-height: 50px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--font-size);
  height: 100vh;
  font-weight: 400;
  color: var(--desaturated-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  width: 375px;
}

.img-logo {
  margin: 2rem;
  display: block;
  width: 6rem;
}

.main-heading {
  margin: 3rem 0 0;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.upper-heading-part {
  font-size: 2.5em;
  font-weight: 300;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--dark-grayish-red);
}

.main-text {
  padding: 1rem;
  line-height: 1.5;
}

form {
  position: relative;
  margin: 2rem 0;
}

.email-input {
  height: var(--input-height);
  padding: 0 20px;
  width: 90%;
  border-radius: calc(var(--input-height) / 2);
  border: 1px solid var(--desaturated-red);
  outline: inherit;
  font: inherit;
}

.email-input::placeholder {
  color: var(--desaturated-red);
  opacity: 0.5;
  font-weight: 400;
}

.email-input-error {
  border: 2px solid var(--soft-red);
}

.submit-btn {
  position: absolute;
  right: 20px;
  height: var(--input-height);
  width: 70px;
  background: linear-gradient(var(--gradient-red));
  border: none;
  border-radius: calc(var(--input-height) / 2);
  box-shadow: 0px 10px 35px 0px var(--desaturated-red);
}

.submit-btn:hover {
  cursor: pointer;
}

.error-icon {
  position: absolute;
  top: calc(var(--input-height) * 0.2);
  right: 30%;
  height: calc(var(--input-height) * 0.6);
}

.message {
  font-weight: 400;
  font-size: 0.8em;
  padding: 10px 40px;
  text-align: left;
}

.message-error {
  color: var(--soft-red);
}

.message-success {
  color: var(--dark-grayish-red);
}

.img-desktop-container {
  display: none;
}

.hidden {
  display: none;
}

footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.7rem;
}

footer a {
  text-decoration: none;
  color: var(--very-dark-grayish-blue);
}

footer a:hover {
  color: var(--soft-red);
}

@media (min-width: 1024px) {
  main {
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .content-container {
    padding: 4% 8%;
    width: 50%;
  }

  .img-logo {
    margin: 0;
    width: 12rem;
  }

  .main-heading {
    margin: 7rem 0 2rem;
    line-height: 1.2;
  }

  .upper-heading-part {
    font-size: 3em;
  }

  h1 {
    font-size: 3em;
  }

  .main-text {
    padding: 0;
  }

  .img-mobile {
    display: none;
  }

  .img-desktop-container {
    display: block;
  }

  .img-desktop-container img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  main {
    width: 70vw;
  }

  .content-container {
    padding: 5% 10%;
    width: 50%;
  }

  .upper-heading-part {
    font-size: 4em;
  }

  h1 {
    font-size: 4em;
  }
}
